@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.-ml-2 {
  margin-left: -2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.py-1 {
  padding-block: 0.2rem;
}

.inline-block {
  display: inline-block;
}

.divide > * + * {
  padding-top: 1rem;
  border-top: 1px solid #e2e8f0;
}

.divide > *:has(+ *) {
  padding-bottom: 1rem;
}
